@{
    ViewBag.Title = "Home Page";
}
<body>
<div class="banner">
    <div class="container">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>

                    <div class="banner-text">
                        <h3>Bags for any day!</h3>
                        <p>Want a bag that fufils your everyday needs?</p>
                        <a href=@Url.Action("Index", "Items")>Shop Now</a>
                    </div>

                </li>
                <li>

                    <div class="banner-text">
                        <h3>Bags for any day! </h3>
                        <p>Need a go-to bag?</p>
                        <a href=@Url.Action("Index", "Items")>Shop Now</a>

                    </div>

                </li>
                <li>
                    <div class="banner-text">
                        <h3>Bags for any day!</h3>
                        <p>Need a travel-hardy bag?</p>
                        <a href=@Url.Action("Index", "Items")>Shop Now</a>

                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>NEW RELEASED</h1>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/bag1.jpeg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Leather Bag</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/luggage.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Luggage</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/backpack.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Backpack</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/bag2.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Tan Bag</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/bag3.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Colorful Bag</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="~/Images/pi5.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shoe</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
       

    <!---->
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/responsiveslides.min.js")
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
    </script>
</body>
